body {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 24px;
  margin: 15px auto;
  padding: 0 0 0 30px;
  color: #eeeeee;
}

.fa-location-dot:hover,
.fa-magnifying-glass:hover,
.fahrenheit:hover,
.celsius:hover,
.fa-star:hover,
.fa-globe:hover,
.fa-arrows-rotate:hover,
.time-format:hover {
  color: #ffd369;
  cursor: pointer;
}

.language {
  display: none;
}

.fa-globe:hover .language {
  color: #ffd369;
  cursor: pointer;
  display: block;
}

.window-1 {
  width: 80%;
  display: block;
  margin: 10px auto;
  border: 10px solid #eeeeee;
  box-shadow: rgb(57, 62, 70, 0.3) 1px 5px 5px 1px;
  border-radius: 5px;
  padding: 0 10px;
  background: #222831;
}

h2 {
  color: #ffd369;
  margin: 0 auto;
  padding: 10px 0 0 30px;
  font-size: 50px;
}

h3 {
  padding: 0 0 0 30px;
  color: #eeeeee;
}

h4 {
  font-size: 60px;
  color: #eeeeee;
  text-align: left;
  margin: 0 auto;
}

h5 {
  font-size: 20px;
  color: #eeeeee;
  margin: 10px auto;
}

.celsius,
.fahrenheit {
  color: #565d68;
}

p {
  text-align: center;
  font-size: 20px;
  color: #eeeeee;
  margin: 0 auto;
}

.min-max-current-day {
  text-align: left;
}

.forecast-symbol {
  font-size: 30px;
  color: #eeeeee;
  margin: 0 auto;
  text-align: center;
}

button {
  border: none;
  background: transparent;
  color: #eeeeee;
}

input,
textarea {
  background: transparent;
  color: #eeeeee;
  border: 2px solid #999;
  border-radius: 5px;
}

.header {
  font-size: 13px;
  color: #eeeeee;
  text-align: center;
}

.location {
  display: block;
  margin: 0 auto;
  border: 2px solid #f24a72;
  background-color: #f24a72;
  box-shadow: rgb(255, 255, 255, 0.1) 0px 5px 5px 0px;
  border-radius: 5px;
  max-width: 260px;
  position: relative;
  left: 40px;
  bottom: 10px;
}

.window-2 {
  width: 100%;
  display: block;
  margin: 30px auto;
}

.card.prevision {
  border: 1px solid #eeeeee;
  display: block;
  margin: 5px auto;
  box-shadow: rgb(54, 48, 98, 0.3) 0px 8px 8px 0;
  background-color: rgb(255, 255, 255, 0);
}

.symbol-prevision {
  color: #ffd369;
  text-align: right;
  font-size: 80px;
  margin: 0 auto;
}

footer {
  font-family: "Kalam", cursive;
  text-align: right;
  color: #eeeeee;
}
