body {
  font-family: "Bebas Neue", cursive;
  color: #eeeeee;
}

h1 {
  font-size: 24px;
  margin: 15px auto;
  padding: 0 0 0 30px;
}

.fa-location-dot:hover,
.fa-magnifying-glass:hover,
.fahrenheit:hover,
.celsius:hover,
.fa-star:hover,
.fa-globe:hover,
.fa-arrows-rotate:hover {
  color: #ffd369;
  cursor: pointer;
}

li {
  list-style: none;
}

.language {
  display: none;
  padding: 10px;
  position: absolute;
}

.language-1 {
  display: none;
}

.select-language:hover .language {
  display: block;
  background-color: rgb(86, 93, 104, 0.3);
  border-radius: 10px;
}

.window-1 {
  width: 80%;
  display: block;
  margin: 10px auto;
  border: 10px solid #eeeeee;
  box-shadow: rgb(57, 62, 70, 0.3) 1px 5px 5px 1px;
  border-radius: 5px;
  padding: 0 10px;
  background: #222831;
}

h2 {
  color: #ffd369;
  margin: 0 auto;
  padding: 10px 0 0 30px;
  font-size: 50px;
}

h3 {
  padding: 0 0 0 30px;
}

.equivalent-time {
  font-size: 15px;
}

h4 {
  font-size: 60px;
  height: 60px;
  text-align: left;
  margin: 0 auto;
}

.main-temp-unit {
  font-size: 20px;
  position: relative;
  top: -27px;
}

h5 {
  text-align: left;
  font-size: 20px;
}

.celsius,
.fahrenheit {
  color: #565d68;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.minimal-temp {
  color: #565d68;
}

.day-description {
  color: #ffd369;
  font-style: italic;
}

.forecast-symbol {
  font-size: 30px;
  color: #eeeeee;
  margin: 0 auto;
  text-align: center;
}

button {
  border: none;
  background: transparent;
  color: #eeeeee;
}

input,
textarea {
  background: transparent;
  color: #eeeeee;
  border: 2px solid #999;
  border-radius: 5px;
}

.header {
  font-size: 13px;
  color: #eeeeee;
  text-align: center;
}

.window-2 {
  width: 100%;
  display: block;
  margin: 30px auto;
}

.symbol-prevision {
  color: #ffd369;
  text-align: center;
  font-size: 100px;
}

.window-3 {
  padding: 0 60px;
}

.card.prevision {
  border: 1px solid #eeeeee;
  display: block;
  margin: 5px auto;
  box-shadow: rgb(54, 48, 98, 0.3) 0px 8px 8px 0;
  background-color: rgb(255, 255, 255, 0);
}

footer {
  font-family: "Kalam", cursive;
  text-align: right;
}

a {
  outline: none;
  text-decoration: none;
}

a:link,
a:visited {
  color: #ffd369;
}
