/* https://colorhunt.co/palette/222831393e46ffd369eeeeee */

body {
  font-family: "Bebas Neue", cursive;
  color: #eeeeee;
}

a:link,
a:visited {
  color: #ffd369;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  color: #eeeeee;
}

footer {
  font-family: "Kalam", cursive;
  text-align: right;
}

h1 {
  font-size: 26px;
  margin: 15px auto;
  padding: 0;
  text-align: center;
}

h2 {
  color: #ffd369;
  margin: 0 auto;
  padding: 10px 0 0 30px;
  font-size: 50px;
}

h3 {
  padding: 0 0 0 30px;
}

h4 {
  font-size: 60px;
  height: 60px;
  text-align: left;
  margin: 0 auto;
}

h5 {
  text-align: left;
  font-size: 20px;
}

h6 {
  text-align: left;
  font-size: 25px;
}

input,
textarea {
  background: transparent;
  color: #eeeeee;
  border: 2px solid #999;
  border-radius: 5px;
  height: 32px;
  font-size: 20px;
  max-width: 180px;
}

li {
  list-style: none;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}
.add {
  color: #7d9d9c;
}

.back-start {
  text-align: left;
  font-size: 32px;
}

.card.favorite {
  border: 6px solid #eeeeee;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background: #222831;
  padding: 2px;
}

.card.prevision {
  border: 3px solid #eeeeee;
  display: block;
  margin: 5px auto;
  background-color: rgb(255, 255, 255, 0);
}

.celsius,
.fahrenheit {
  color: #565d68;
}

.current-temp-favorites {
  font-size: 30px;
  text-align: right;
  padding: 2px;
}

.day-description {
  color: #ffd369;
  font-style: italic;
}

.fav-description {
  color: #ffd369;
  font-style: italic;
  text-align: center;
}

.equivalent-time {
  font-size: 15px;
}

.fa-location-dot:hover,
.fa-magnifying-glass:hover,
.fahrenheit:hover,
.celsius:hover,
.favorite-symbol:hover,
.fa-globe:hover,
.fa-arrows-rotate:hover {
  color: #ffd369;
  cursor: pointer;
}

.favorite-list:hover .list-favorite-city {
  display: block;
  background-color: rgb(86, 93, 104, 0.3);
  border-radius: 10px;
}

.forecast-symbol {
  font-size: 30px;
  color: #ffd369;
  margin: 0 auto;
  text-align: center;
}

.header {
  font-size: 13px;
  color: #eeeeee;
  text-align: center;
}

.language {
  display: none;
  padding: 5px;
  position: absolute;
}

.list-favorite-city {
  display: none;
  padding: 10px;
  position: absolute;
  font-family: "Kalam", cursive;
  font-size: 18px;
}

.max-min-temp-favorites {
  text-align: left;
  padding: 5px 2px;
  font-size: 13px;
}

.minimal-temp {
  color: #565d68;
}

.main-temp-unit {
  font-size: 20px;
  position: relative;
  top: -27px;
}

.removal {
  color: #b85252;
}

.select-language:hover .language {
  display: block;
  background-color: rgb(86, 93, 104, 0.3);
  border-radius: 10px;
}

.show-favorites {
  color: #565d68;
  text-align: center;
  font-size: 32px;
  padding: 40px 0;
}

.symbol-prevision {
  color: #ffd369;
  text-align: center;
  font-size: 100px;
}

.window-1 {
  width: 80%;
  display: block;
  margin: 10px auto;
  border: 10px solid #ba8c63;
  box-shadow: rgb(57, 62, 70, 0.3) 1px 5px 5px 1px;
  border-radius: 5px;
  padding: 10px;
  background: #222831;
}

.window-2 {
  width: 100%;
  display: block;
  margin: 20px auto;
}

.window-3 {
  padding: 0 60px;
}

.window-4 {
  padding: 40px 50px;
}
